@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');


.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.font-hind {
  font-family: 'Hind Siliguri', sans-serif;
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.text-white{
    color: #fff;
}

.text-333{
    color: #333;
}

.text-pHero{
    color: #612AED;
}

.bg-pHero{
    background-color: #612AED;
}
.sideBar{
    /* height: calc(100vh - 65px) ; */
    position: fixed;
    width: 280px;
}

.zIndex99{
/* z-index: 99; */
}

.object-fit{
    
    object-fit: cover;
}
/* navigationBar */
.navigationBar a{
    color: #fff !important;
}
.navDropped a{
    color: #000 !important;
}


.td-none{
    text-decoration: none;
}

.sideBar{
    margin-top: 70px;
    height: calc(100vh - 70px);
}