/* <!-- [[[[[[[[[[[[[[[[[[[[[[[[[[[[[Module 44 || Videos 9]]]]]]]]]]]]]]]]]]]]]]]]]]]]] --> */



/* // ************************** 44-3 Template, dynamically create HTML elements based on data */


/* 
#allCountriesHolder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.single-country{
    border: 1px solid #ccc;
    background: rgb(255, 246, 246);
    padding: 10px;
    margin-bottom: 10px;
}
 */